@page "/ViewPosts"
@using global::Shared.Models
@using HttpClients.ClientInterfaces
@inject IPostService PostService

@*
<link rel="stylesheet" href="css/ViewPosts.razor.css" />
*@

<h5 style="text-align: center">Overview of all Posts</h5>

@if (!string.IsNullOrEmpty(msg))
{
    <div>
        <span>@msg</span>
    </div>
}

@if (posts == null)
{
    <span>Loading..</span>
}
else if (!posts.Any())
{
    <span>No posts found</span>
}
else if (posts != null && posts.Any())  // new post should be on top
      
{
    <div class="posts-container">
        
        @*@foreach (Post post in posts)
            {
                <div class="post-card">
                    <button class="post-title" @onclick="() => NavigateToPost(post.Id)">
                        @post.Title
                    </button>
                </div>
            }*@
        @foreach (Post post in posts.Reverse()) // new post should be on top
        {
            <div class="post-card">
                <div class="post-title">
                    @post.Title
                </div>
                
                @*<label>@post.Title</label>*@
                @*<a href="/ViewAPost/@post.Id"> 
                        @post.Title
                        
                    </a>*@

            </div>
        }
    </div>



@code {
    private IEnumerable<Post>? posts;
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        msg = "";
        try
        {
            posts = await PostService.GetPosts(); //GetPosts in web aPI first
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

}   
}